
html,
body {
  background-color:#03049c;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.icon {
    color: #0d6efd;
    background-color: #ebeafb;
    display: inline-flex;
    padding: 15px;
    border-radius: 15px;
}

.card-primary {
    background: #1b2a4e;
    color: white !important;
}

.bg-main {
    background-color: #1b2a4e;
}

.footer-link {
    text-decoration: none;
    color: #000;
}
.footer-header {
    border-bottom: 3px solid;
    height: 35px;
}

.footer-link:hover {
    color: #000;
}

.musics li 
{
  padding: 1rem;
  list-style-type: none;
}

.myImg {
    border-radius: 10px;
    width:max-content
  }

  .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .header1{
    color:#fe019a;
    font-size: 1.5rem;
    /* font:36px; */
    font-family: Dirtchunk, sans-serif;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;

  }

  .heading2X2 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }


  .header2{
    color:#fe019a;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;    
  }

  .textStrong{
    color:lightskyblue;
    font-size: 1.5rem;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;    
  }

  .text{
    color:lightskyblue;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;    
  }

  .button._20px-margin {
    width: 100%;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-color: #00c0f9;
    background-image: -webkit-gradient(linear, left top, right top, from(#fe019a), color-stop(100%, #442c95), to(#3a239d));
    background-image: linear-gradient(90deg, #fe019a, #442c95 100%, #3a239d);
    font-family: Dirtchunk, sans-serif;
    color: #00c0f9;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
  }

  
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-style: solid;
    border-width: 3px;
    border-color: #00c0f9;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#fe019a), to(#3a239d));
    background-image: linear-gradient(90deg, #fe019a, #3a239d);
    font-family: Dirtchunk, sans-serif;
    color: #00c0f9;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .button.hero {
    padding-right: 60px;
    padding-left: 60px;
  }
  



  .button._20px-margin.lets-start {
    width: 40%;
    border-color: #00c0f9;
    background-image: -webkit-gradient(linear, left top, right top, from(#fe019a), color-stop(100%, #442c95), to(#3a239d));
    background-image: linear-gradient(90deg, #fe019a, #442c95 100%, #3a239d);
    font-family: Dirtchunk, sans-serif;
    color: #00c0f9;
    font-size: 26px;
  }

  

